@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

a{
	color: #233f70 !important;
}

a:hover{
	color: #233f70;
	text-decoration: underline !important;
}

html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	color: #666;
	font-weight: 500;
}

/* MENU RESPONSIVO */
.navbar-offcanvas {
	display: none;
	padding: 0 !important;
}

button.navbar-toggle{
	display: none;
}

@media (max-width: 990px){

	button.navbar-toggle{
		display: block;
		border: none;
		background: transparent;
		line-height: 0;
		border-radius: 5px;
		position: absolute;
		right: 15px;
		top: 5px;
		z-index: 9999;
		padding: 17px 8px 5px 8px;
	}

	button.navbar-toggle span{
		display: inline-block;
	}

	.navbar-offcanvas{
		display: block;
		background: #ff1f3d;
	}

	.navbar-offcanvas ul.menu{
		float: left;
		width: 100%;
	}

	.navbar-offcanvas ul.menu li{
		float: left;
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #efefef;
		padding: 0;
	}

	.navbar-offcanvas ul.menu li a{
		color: #4e4e4e;
		text-transform: initial;
		padding: 15px 20px 15px 20px;
		display: block;
	}

	.navbar-offcanvas ul.menu li a.promo-dia{
		display: block;
		float: initial;
		text-align: center;
		color: #033770;
		text-transform: uppercase;
	}

	.navbar-offcanvas ul.menu li:last-child{
		float: left;
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #efefef;
	}

	.navbar-offcanvas ul.menu li.pedidos{
		background: #23bd23;
		text-align: center;
	}

	.navbar-offcanvas ul.menu li.pedidos a{
		color: #fff;
		text-transform: uppercase;
	}

	.navbar-offcanvas ul.conta{
		float: left;
		width: 100%;
		text-align: center;
	}

	.navbar-offcanvas ul.conta li{
		display: inline-block;
		padding: 15px 10px;
	}

	.navbar-offcanvas ul.conta li a{
		color: #fff;
	}

	.offcanvas-toggle .icon-bar{ 
		background: #ff1f3d !important;  
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		display: block;
		width: 22px;
		height: 3px;
		border-radius: 1px;
		margin-bottom: 4px;
	}

	.offcanvas-toggle .middle{
		width: 16px;
	}
}

@media (max-width: 767px){
	button.navbar-toggle{
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		top: 7.5%;
	}
}

ul.menu-responsivo{
	float: left;
	width: 100%;
	margin: 20px 0 20px 0;
}

ul.menu-responsivo>li{
	display: block;
}

ul.menu-responsivo>li>a{
	color: #fff;
	padding: 5px 25px;
	display: block;
}

ul.menu-responsivo>li>ul>li>a{
	color: #ccc;
	padding: 5px 40px;
	display: block;
} 

ul.menu-responsivo li a:hover{
	color: #fbb900;
}

ul.menu-responsivo ul.social{
	margin: 1rem 0 0 25px;
	padding: 0;
	border-radius: 0;
}

ul.menu-responsivo ul.social li{
	display: inline-block;
	margin: 0 5px 0 0; 
}

/* HEADER */
header{
	padding: 15px 0;
	width: 100%;
	background: #fff;
}

ul.menu{
	text-align: center;
	display: block;
	margin: 0;
}

ul.menu li{
	display: inline-block;
	position: relative;
}

ul.menu li a{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	color: #888888;
	padding: 10px 5px;
	position: relative;
}

ul.menu li a:hover{
	color: #ff1f3d;
}

ul.menu>li>a:hover:before{
	content: '';
	width: 8px;
	height: 7px;
	border-radius: 200px;
	background: #ff7038;
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

ul.menu>li:hover ul.submenu{
	display: block;
}

ul.submenu{
	position: absolute;
	display: none;
	background: #fff;
	border-radius: 20px;
	z-index: 999;
	padding: 10px 20px;
	text-align: left;
	left: -20px;
}

ul.submenu li{
	display: block;
}

ul.submenu li a{
	font-size: 12px;
	white-space: nowrap
}

.social{
	display: inline-block;
	background: #ff1f3d;
	border-radius: 200px;
	padding: 10px 20px 12px;
	margin: 0 0 0 10px;
}

/* BANNER PRINCIPAL */
.slide{
	position: relative;
    margin: 0;
    overflow: hidden;
    
}

.slide .swiper-slide{
	background-repeat: no-repeat;
	
	background-size: cover;
}

.slide .swiper-slide .box{
	position: absolute;
	bottom: 0;
	width: 35%;
	padding: 25px 30px;
	background: #fff;
	z-index: 2
}

.slide .swiper-slide .box:before{
	content: '';
	position: absolute;
	width: 12px;
	height: 100%;
	background: #ff1f3d;
	right: -12px;
	top: 15px;
	z-index: 1;
}

.slide .swiper-slide .box span{
	display: block;
	margin: 0 0 30px;
}

.slide .swiper-slide .box span.title{
	font-size: 2em;
	line-height: 1em;
	font-weight: 800;
	color: #ff1f3d;
}

.slide .swiper-slide .box p{
	font-weight: 500;
	font-size: 1.2em;
	color: #666;
	margin: 0 0 2rem;
}

.bt-down{
	z-index: 2;
	position: absolute;
	bottom: 20px;
	left: 50%;
	font-size: 18px;
	color: #fff;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.bt-down:hover{
	color: #43a2ff;
}

/* BOTOES */
.btn{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.btn-pesquisa{
	background-color: #990e02;
	width: 75px;
	height: 35px;
	margin-right: 10px ;
	vertical-align: middle !important;
	border-radius: 5px;
	border: none;
	padding: 6px;
	font-size: 17px;
	
}

.btn-verde{
	background-color: #ffffff;
	border: 2px solid #ff7038;
	color: #ff7038;
}

.btn-verde:hover{
	background-color: #ff7038;
	border: 2px solid #ff7038;
	color: #ffffff;
}

.btn-branco{
	border: 2px solid #ffffff;
	color: #fff;
}

.btn-branco:hover{
	border: 2px solid #ffffff;
	background-color: #fff;
	color: #666;
}

/* TITULOS */
span.titulo{
	font-size: 2em;
	line-height: 100%;
	color: #ff1f3d;
	display: block;
	margin: 0 0 1rem;
	font-weight: 800;
	position: relative;
}

span.titulo small{
	font-size: 12px;
	display: block;
	color: #666;
	line-height: 100%;
}

span.titulo-right{
	font-size: 3em;
	line-height: 100%;
	text-align: right;
	color: #276cb0;
	display: block;
	margin: 0 0 30px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	padding: 0 0 5px;
}

span.titulo-right:after{
	content: '';
	width: 90px;
	height: 4px;
	border-radius: 200px;
	background-color: #276cb0;
	position: absolute;
	bottom: 0;
	right: 2px;
}

span.titulo-right small{
	font-size: 12px;
	display: block;
	color: #666;
	text-align: right;
	line-height: 100%;
}

span.secao{
	font-size: 2em;
	line-height: 1em;
	font-weight: 800;
	color: #ff1f3d;
	margin: 0 0 1.5rem;
	display: block;
}

span.sub-titulo{
	font-weight: 800;
	display: block;
	color: #ff7038;
	font-size: 1.3em;
}

/* BOX */
.box-list{
	border-radius: 5px;
	background: #fff;
	-webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
	min-height: 200px;
	margin: 0 0 80px;
	position: relative;
	padding: 8px 10px;
	transition: all 0.5s;
}

.box-list figure{
	overflow: hidden;
	border-radius: 5px;
	background: #efefef;
	height: 130px;
}

.box-list span.titulo-list{
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	color: #276cb0;
	margin: 0 0 1rem;
	display: block;
}

.box-list:hover{
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* PAGINAÇÃO */
.paginacao{
	position: absolute;
	text-align: center;
	-webkit-transition: .3s opacity;
	-o-transition: .3s opacity;
	transition: .3s opacity;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 10;
	bottom: 0;
}

.swiper-pagination-bullet{
	width: 10px;
	height: 10px;
	background: #666;
	opacity: 1;
	transition: all 0.5s;
}

.swiper-pagination-bullet-active{
	height: 20px;
	border-radius: 200px;
	opacity: 1;
	background: white;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0;
}

/* PAGINA INICIAL */
section.o-que-faz-gea-explica{
	margin: 0 0 4rem;
}

.na-midia{
	overflow: hidden;
	margin: 0 0 1rem;
}

.na-midia span.secao{
	font-size: 2em;
}

.na-midia a p{
	color: #666;
}

section.numeros{
	background: url(../images/bg-numeros.jpg) center center no-repeat;
	background-size: cover;
	padding: 3rem 0 4rem;
	margin: 0 0 4rem;
}

@media (max-width: 768px){
	section.numeros .box{
		margin: 0 0 2rem;
		display: block;
	}
}
section.numeros span.secao{
	color: #fff;
	margin: 0 0 3rem;
}

section.numeros span.numero{
	font-size: 4em;
	line-height: 1em;
	font-weight: 800;
	color: #ff1f3d;
	margin: 0;
	display: block;
}

section.numeros span.descricao{
	display: block;
	color: #fff;
	margin: 0 0 1rem 0;
}

section.instituicoes{
	position: relative;
	margin: 0 0 4rem;
	padding: 0 0 3rem;
}

section.instituicoes .instituicoes{
	overflow: hidden;
}

section.projetos{
	background: url(../images/bg-projetos.jpg) center center no-repeat;
	background-size: cover;
	padding: 4rem 0 4rem;
	margin: 0 0 4rem;
}

section.projetos span.secao a.btn{
	margin: 0;
}

section.projetos span.secao{
	margin: 0 0 3rem;
	color: #fff;
}

section.projetos .box{
	position: relative;
}

section.projetos .box .content{
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	background: #fff;
	padding: 20px;
	z-index: 9;
}

section.projetos .box .content span.titulo{
	margin: 0 0 2rem;
}

section.cuidados-lixo{
	margin: 0 0 4rem;
}

section.cuidados-lixo .contribua{
	margin: 3rem 0 0 0;
	background: url(../images/bg-contribua.jpg) center top no-repeat;
	background-size: cover;
	padding: 150px 20px 20px;
	position: relative;
	text-align: center;
	height: 90%;
}

section.cuidados-lixo .contribua figure{
	position: absolute;
	top: -60px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

section.cuidados-lixo .contribua span.titulo, section.cuidados-lixo .contribua p{
	color: #fff;
}

section.cuidados-lixo .cuidados span.secao{
	display: flex;
	margin: 0 0 3rem;
	align-items: center;
}

section.cuidados-lixo .cuidados span.secao img{
	margin: 0 15px 0 0;
}

section.cuidados-lixo .cuidados .box{
	display: flex;
	align-items: center;
	margin: 0 0 1.5rem;
}

section.cuidados-lixo .cuidados .box span.titulo{
	font-size: 1.1em;
}

section.cuidados-lixo .cuidados .box img{
	margin: 0 15px 0 0;
}

section.parceiros{
	position: relative;
	margin: 0 0 4rem;
	padding: 0 0 3rem;
}

section.parceiros .parceiros{
	overflow: hidden;
}

/* FOOTER */
footer{
}

footer figure{
	margin: 0;
}

footer p{
	color: #fff;
	font-size: 0.7em;
}

footer ul.app-menu, footer ul.menu{
	text-align: left;
}

footer span.titulo{
	color: #fff;
	font-size: 1.5em;
}

footer ul.social-footer li{
	display: inline-block;
	margin: 0 5px 0 0;
}

.footer-bottom{
	background: #ff1f3d;
	margin: 1.5rem 0 0 0;
	padding: 0.8rem 0;
	color: #fff;
}

.box-blog{
	background: #fafafa;
	padding: 15px;
	margin: 0 0 3rem;
}

.box-blog span.titulo{
	font-size: 1.3em;
}

.box-blog a p{
	color: #666;
}

section.blog{
	margin: 0 0 4rem;
}

/* INTERNA */
main{
	min-height: 80vh;
}