@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
	height: 100%;
	width: 100%;

	font-family: 'Roboto', sans-serif !important;
	font-size: 14px;
	color: #666;
	font-weight: 500;
}



/* INPUTS */

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(/assets/img/ico_arrow_peq.png) no-repeat center right #FFF;
	border: none;
	font-size: 15px;
	padding-right: 20px;

}

.select-a {
	font-size: 15px;
	color: #0b0800 !important;

}

.select-a:hover {
	cursor: pointer;

}

.select-a>img {
	padding-right: 3px;
}



/* IMAGENS */

.img-reset {
	padding: 0;
}

.img-fluid {
	width: 100%;
	height: auto;
}

.logo-znit {
	text-align: center;
	padding-top: 2rem;
}

.logo-footer {
	margin-bottom: 1.5rem;
}

/* ICONES */


.icon-small {
	font-size: 1.5rem;
}

.icon-medium {
	font-size: 2.5rem;
}

.icon-medium-footer {
	color: white;
	padding: 0 0.5rem;
}

.icon-big {
	font-size: 4rem;
	margin-bottom: 30px;


}

/* HEADER */

header {
	padding: 0 !important;

}

.logo {
	background-color: #2ddb94;
}

.w-full {
	width: 100%;
}

.responsive-img {
	max-width: 1920px;
	margin: auto;
	position: relative;
}

.bg-red {
	background-color: #cd1515;
}

.bg-red-strong {
	background-color: #b11212;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #f5f5f5;
	height: 60px;
	display: flex;
	align-items: center;
}

.bg-gray-strong-responsive {

	position: relative;
}

.bg-gray-strong {
	width: 100%;
	background-color: #e8e8e8;
	position: absolute;
	height: 160px;
	z-index: -1;
	bottom: -25px;
}

/* CABEÇALHOS PERSONALIZADOS */

.p-header {
	margin-top: 5px;
}

.li-space {
	padding: 0rem 0rem 0rem 9rem !important;

}

.li-select {
	padding: 0rem 0rem 0rem 3rem !important;

}

.red-bg-header {
	background-color: #cd1515;
	color: white;
	height: 30px;
	vertical-align: middle;
}

ul.red-bg-header>:first-child {

	padding: 5px;
}

ul.red-bg-header>:last-child {
	background-color: #b11212;
	color: white;

	padding: 5px;
}


.red-bg-header-secondary {
	background-color: #b11212;
	color: white;
}

.white-bg-header {

	color: #cd1515;

}

.cabecalhoH2 {
	font-weight: 800;
	display: block;
	color: #2ddb94;

}

.cabecalhoH3 {
	display: block;
	font-weight: 800;
	color: #13131d;
}

.cabecalhoDestaque {
	margin-top: 0;
	margin-bottom: 2rem;
}

.row-header {
	flex-direction: row;
}

.row-internet-empresa {
	margin-top: 2rem;
}

.interna-3 {
	padding-top: 3rem;

}

.form-box {
	padding: 0;
}

.captcha-box {
	align-items: center;
}

.interna-3>:nth-child(3) {
	padding: 0;
	margin: 0;

}

.interna-3>:first-child {
	justify-content: space-between;
}

.interna-3>:first-child>div {
	background-color: #f5f5f5;
	display: flex;
	width: 550px;
	height: 210px;
}

.interna-3>:first-child>div>div {
	width: 90%;
	margin: auto;
}

.interna-3>:first-child>div>div>h2 {
	color: #b11212;
	font-size: 17px;
	font-weight: bold;
}

.interna-3>:first-child>div>div>.telefone {
	color: #b11212;
	font-size: 40px;
	font-weight: 300;
}

.interna-3>:first-child>div>div>h3 {
	color: black;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
}

.interna-3>:first-child>div>div>.horario-first {
	font-weight: 300;
	font-size: 17px;
}

.interna-3>:first-child>div>div>.horario-second {
	font-weight: 300;
	font-size: 17px;
}

.interna-3>:nth-child(2) {
	padding: 3rem 0rem 0.5rem 0rem;
	color: #b11212;
	border-bottom: 2px solid #efefef;
	margin-bottom: 2rem;
}

.interna-3>:nth-child(2)>:first-child {
	padding-left: 0;
}

.menu-header {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 15px;


}

.row-atendimento-3 {
	background-color: #efefef;
	width: 500px;
	height: 480px;
	display: flex;
	align-items: center;
	margin-top: 1.7rem;
	margin-left: 2rem;
}

.social-media {
	margin-left: 2rem;
	background-color: #efefef;
	height: 100px;
	width: 530px;
	position: absolute;
	top: 56%;
}


.social-media>:first-child {
	width: 100%;
	height: 100%;
	align-items: center;
}

.social-media>:first-child>:first-child>h2 {
	font-size: 18px;
	text-align: center;
}


.social-media>:first-child>:nth-child(2)>ul {
	position: unset !important;
}

.row-atendimento-3>:first-child {
	justify-content: space-evenly;
}

.row-atendimento-3>:first-child>:first-child {
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.row-atendimento-3>:first-child>:nth-child(2) {
	margin-bottom: 2rem;
	margin-right: 1rem;
}

.item-atendimento>i {
	text-align: center;
}

.row-atendimento-3>:first-child>:nth-child(3) {
	margin-left: 1rem;
}

.row-atendimento-3>:first-child>:nth-child(4) {

	margin-right: 1rem;
}

ul.menu-header>:first-child {
	padding-left: 0;
	padding-bottom: 1rem;
	padding-top: 0.3rem;
	background-color: white;
}

ul.menu-header>li>:first-child {
	padding-left: 0;

}

ul.menu-header>:last-child {
	position: absolute;
	right: 0;
	padding: 0;
	font-size: 14px !important;
	margin-top: 5px;


}

ul.menu-header>:last-child>:first-child {
	color: white;


}

ul.menu-header>:first-child>:first-child {
	color: #cd1515;
	padding-left: 1rem;

}

ul.menu-header>:nth-child(2) a {
	color: white;



}

ul.menu-header>:nth-child(2) {
	height: 30px;
	background-color: #b11212;
	padding: 0.3rem 1rem 1rem 1rem;

}

ul.menu-header>li>:first-child {
	padding-right: 0;

}

.menu-atendimento {
	text-align: left !important;
	position: absolute;
	bottom: 13%;
}

.menu-atendimento>li {
	padding: 0 0.5rem;
}

.menu-atendimento>li>i {
	color: #666 !important;
}

.menu-atendimento>li>i:hover {
	color: #cd1515 !important;
}

.menu-atendimento>:first-child {
	padding-left: 0;
}

.item-atendimento {
	padding: 1.5rem;
	border-radius: 5px;
}

.row-atendimento {
	justify-content: space-between;
	padding-right: 0;
}

.menu-footer {
	text-align: left;
}

.menu-footer>:first-child {
	font-size: 16px;
	font-weight: bold;
}

.p-footer {
	padding-top: 2rem;
}

.menu-footer>:first-child {
	padding-bottom: 2.5rem;
}

.menu-footer-atendimento>:last-child {
	padding-top: 1.5rem
}

.menu-footer-atendimento>:last-child>span {
	font-weight: bold;
}

.menu-footer-icon {
	padding: 0 0.5rem;
}

.menu-footer-institucional>:last-child {
	padding-top: 2rem
}

.row-footer>:nth-child(2) {
	padding-bottom: 4.5rem;
}

.title-slide {
	z-index: 9999;
	position: absolute;
	left: 6.5%;
	top: 30%;


}

.bg-gray-banner {
	background-image: url("/img/bg-gray.png") !important;
}

.title-slide>:first-child {
	font-size: 35px !important;
	font-weight: 300;
	color: white;


}

.title-slide>:nth-child(3) {
	font-size: 17px;
	font-weight: 400;
	color: white;


}

ul.menu-footer>li {
	display: block;
	font-size: 15px;
	font-weight: 300;
}

.li-institucional {
	padding-right: 0 !important;
}



.menu-header-centered {
	justify-content: space-between;
	font-size: 12px;


}

.menu-header-centered-main {
	padding-top: 1rem;
	font-weight: 300;
	font-size: 21px;

}

.modal-cidades {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	display: none;
	overflow: auto;
	outline: 0;
	background-color: #b6201f;
	opacity: 0.95;
}



.reset-width {
	margin: 0;
}

.menu-header-centered>:first-child {

	padding-left: 10px;
}

.whatsapp-option {

	font-weight: bold;
	color: #0b0800;
	font-size: 15px;
}

.whatsapp-option>i {

	padding-right: 3px;
}

ul {
	font-size: 12px;
}

ul.menu-header>li {
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}

ul.menu-header-secondary>li {
	display: inline-block;
	padding: 0 10px;
}



ul.menu-header-centered>li {
	display: inline-block;
	padding: 0 1rem;

}

.first-header {

	height: 30px;
}



/* BOTÕES PERSONALIZADOS */

.button-burguer {
	position: absolute !important;
	top: 2.5rem !important
}

.close-button {
	color: white;
}

.close-button:hover {
	cursor: pointer;
}

.blog-access {
	padding: 1rem;
	border-top: 1px solid #cd1515;
	border-bottom: 1px solid #cd1515;
	color: #cd1515;
}

.warning {
	padding: 2rem;
	border: 1px solid #f5f5f5;
	background-color: #f5f5f5;
	color: #666;
	padding: 0.5rem;
	border-radius: 4px;
	width: 98%;
	margin-top: 1rem !important;

}

.warning>span {
	font-size: 12px;

}

.warning>:first-child {
	position: absolute;
	left: 20px;
	top: 8px;


}

.warning>:last-child>i {
	position: absolute;
	right: 5px;
	top: 5px;
	text-decoration: none !important;


}

.warning>span>:first-child {
	text-decoration: underline;

}


.btn-sign {
	border: 1px solid #cd1515;
	color: #cd1515;
	padding: 0.7rem 1.2rem;
	font-weight: bold;
	font-size: 15px;
}

.btn-sign:hover {
	color: white;
	background-color: #cd1515;
}

.btn-align-right {
	text-align: right;
}

.btn-align-left {
	text-align: left;
	padding-left: 0;
}

.localidade {
	margin-top: 190px;
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid #f5f5f5;
	border-width: thin;
}

.localidade>span {
	font-size: 22px;
	color: white;
}

.fale-conosco {
	padding-left: 0;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

.fale-conosco>:first-child {
	font-size: 18px;
	color: white;
	margin-bottom: 30px;
}

.fale-conosco>:nth-child(2) {
	font-size: 25px;
	color: white;
	font-weight: 400;

}

.fale-conosco>:nth-child(3) {
	font-size: 14px;
	color: white;
	font-weight: 300;

}

.fale-conosco>:nth-child(4) {
	font-size: 14;
	color: white;
	font-weight: 300;

}

.row-localidade {
	padding-left: 7px;
	position: relative;
}

.close-modal {

	position: absolute;
	right: 50px;
	top: 55px;



}

.close-modal:hover {
	cursor: pointer;
}

.close-modal>a>i {
	color: white;
}

.no-local {
	padding-left: 0;
	display: flex;
	align-items: flex-end;
	margin-top: 100px;
}

.no-local>a>span {
	padding-right: 20px;
	font-size: 20px;
	color: white;
}

.no-local>a>i {

	color: white;
}

.cidades {
	border-bottom: 1px solid #f5f5f5;
	border-width: thin;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0px 5px 0px;
}

.cidades>a>i {
	color: white;
}

.cidades>a>span {
	font-size: 50px;
	font-weight: 300;
	color: white;
}

.btn-znit {

	border: 2px solid #2ddb94 !important;
	color: #2ddb94;
}

.btn-znit-transform {
	cursor: pointer;
	border: 5px;
	margin: 1rem 0 0 0;
	border-radius: 200px;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px 25px;
	display: inline-block;
}

.btn-znit:hover {
	background-color: #2ddb94;
	color: white;
}



/* MENU */

.img-noticia {
	margin-bottom: 2rem;
}

.noticias {
	margin-top: 80px !important;
	justify-content: center;
}

.box-noticia {
	width: 340px;
	height: 450px;
	margin-right: 30px;


}

.box-noticia>:nth-child(2)>div {
	width: 80%;
	margin: auto;
	text-align: left;

}

.box-noticia>:nth-child(2)>div>h4 {
	font-size: 18px;
	font-weight: 500;
	color: black;

}

.box-noticia>:nth-child(3) {
	width: 80%;
	margin: auto;
	text-align: left;
	margin-top: 80px;

}

.box-noticia>:nth-child(2)>h4 {
	font-size: 18px;
	font-weight: 500;
	color: black;

}

.noticias>:last-child {
	margin-right: 0;
}



h4 {
	margin-bottom: 4rem;
}

.img-banner {

	background-size: contain;
	height: 100%;
	width: 100% !important;
}

h5 {
	color: #cd1515;
}

.item-atendimento-text {
	text-align: left;

}

.fibra-turbo {
	color: #de2c1a;
}

.bg-image {
	height: 350px;
	margin-bottom: 5rem;
}

.holder {
	position: relative;
}

.oferta {
	text-align: left;
	padding-top: 7px;

}

.offer {
	width: 80%;
	margin: auto;
}

.oferta-main {
	padding: 0;
	justify-content: center;

}

.oferta-main>:last-child {
	margin-right: 0;

}

.atendimento-box {
	width: 190px;
	height: 190px;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.atendimento-descricao {
	align-self: flex-end;
}

.oferta-box {
	margin-right: 20px;
	/* padding: 3.26rem;
	padding-bottom: 7.5rem; */
	width: 260px;
	height: 441px;
}

.oferta-box>:first-child {
	margin-top: 25px;
}

.oferta-box>:nth-child(2)>span {
	font-weight: 300 !important;
}

.oferta-box>:nth-child(2) {
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 15px;
	width: 80%;
	margin: auto;
}

.oferta-box>:nth-child(3) {
	width: 80%;
	margin: auto;

}

.oferta-box>:nth-child(3)>ul>li {
	padding-bottom: 4px;
	font-size: 15px;
	font-weight: 300;
	color: #cd1515;
}

.oferta-box>:nth-child(3)>ul>li>span {
	font-weight: bold;
}

.oferta-box>:nth-child(3)>ul>li>img {
	padding-right: 7px;
	color: #cd1515;
}

.oferta-box>:nth-child(3)>ul>:nth-child(3) {
	padding-bottom: 12px;
}



.oferta-box>:nth-child(3)>ul>:nth-child(4) {
	display: flex;
	justify-content: space-between;
	padding: 7px 0px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

.oferta-box>:nth-child(3)>ul>:nth-child(5) {
	padding-bottom: 0;
	padding-top: 12px;

}

.oferta-box>:nth-child(3)>ul>:nth-child(5)>span {
	font-weight: 400;
	font-size: 14px;
	color: #666;

}

.oferta-box>:nth-child(3)>ul>:nth-child(6) {
	padding-bottom: 0;

}

.oferta-box>:nth-child(3)>ul>:nth-child(6)>h5 {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 0;
	color: #cd1515;
}

.oferta-box>:nth-child(3)>ul>:nth-child(7)>span {
	font-weight: lighter;
	font-size: 11px;
	color: #666;
}

.oferta-box>:nth-child(3)>ul>:nth-child(8)>button {
	background-color: #ffbf00;
	color: #0b0800;
	border-radius: 4px;
	font-weight: bold;
	font-size: 18px;

	width: 200px;
	height: 45px;

}

ul.oferta>:last-child {
	text-align: center;
	padding-top: 1rem;
}

ul.oferta>:last-child>button:hover {
	cursor: pointer;
	background-color: white;
	border: 1px solid #ffbf00;
	border-radius: 4px;
}

ul.oferta>:nth-child(1) {
	color: #cd1515;
}

ul.oferta>:nth-child(2) {
	color: #cd1515;
}

ul.oferta>:nth-child(3) {
	color: #cd1515;
}

.oferta-btn {
	background-color: #ffbf00;
	color: #0b0800;

	border-radius: 4px;
	font-weight: bold;
	padding: 0.5rem 3rem;
}

.titulo-canais {
	text-align: left;
}

.titulo-oferta {
	font-weight: bold;
	font-size: 32px;
	color: black;
	margin: 0;
}

.titulo-noticia {
	margin: 4rem;
	color: #cd1515;

}

.subtitulo-noticia {
	text-align: justify;
}

.internet-empresa {
	font-weight: bold;
	color: black;
	margin-bottom: 1rem;
}

.internet-oferta {
	color: #cd1515;
}

.box-client-number {
	display: flex;
	justify-content: space-between;
}

.box-client-number>label {
	width: 25%;
}

.text-area>textarea {
	background-color: #efefef;
	border-color: #ced4da;
}

#accordion {
	margin-top: 1rem;
}

#accordion>div.card {
	border-radius: unset;
}

#accordion>div>div.card-header {
	height: 45px;
}

#accordion>div>div.card-header>h5>button {
	color: black !important;
	display: flex;
	justify-content: space-between;
}



.card {
	margin-bottom: 1rem;
}

.form-group>input {
	background-color: #efefef;
	border-radius: unset;
	padding: 0.8rem;
}

.casos-específicos {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 3rem;
	width: 100%;
	margin: auto;
	position: absolute;
	top: 0;
}

.pesquisa-opcoes>div.pesquisa {
	padding-bottom: 3rem;
	background-color: #ae2317;
	border-radius: 10px;
	color: white;
	width: 550px;
	height: 550px;
}

.btn-dad {
	text-align: center;
}

.pesquisa>:first-child {
	margin-bottom: 30px;
}

.pesquisa>div>span {
	font-size: 16px;
	font-weight: 300;

}

.pesquisa>div>div {
	padding-bottom: 15px;
	padding-top: 15px;
	border-top: 1px solid #990e02
}

.pesquisa>div>:nth-child(4) {
	display: flex;
	justify-content: space-between;
}

.input-group>:first-child {
	background-color: #efefef;
	border: none;
	border-radius: 0;
	height: 50px;

}

.pesquisa>div>:nth-child(6)>label {
	width: 130px;
}

.pesquisa>div>:nth-child(8)>label {
	width: 130px;
}

.pesquisa>div>:nth-child(9) {
	padding-top: 15px;
	border: none !important;
}



.pesquisa-opcoes {
	padding-bottom: 5rem;
	display: flex;
	justify-content: space-around;
}

.calcular-btn {
	background-color: #ffbf00;
	color: #0b0800;
	border-radius: 4px;
	font-weight: bold;
	font-size: 18px;
	width: 200px;
	height: 45px;
}

.slide-banda-larga {}

.calcular-btn:hover {
	cursor: pointer;
	background-color: white;
	border: 1px solid #ffbf00;
	border-radius: 4px;
}

.doubt {
	padding-bottom: 3rem;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #efefef;
	width: 550px;


}

.doubt>h2 {
	text-align: center;
	color: #b4291d !important;
	margin-top: 20px;
}

.doubt-items {
	width: 90%;
	margin: auto;
}

.doubt-items>ul {
	display: flex;
	flex-direction: column;
}

.doubt-items>ul>li {
	border: 1px solid #efefef;
	background-color: #efefef;
	padding-bottom: 1rem;
	margin-bottom: 1rem;

}

.pesquisa-opcoes>div.pesquisa>div>ul {
	display: flex;
	justify-content: space-around;
}

.pesquisa-opcoes>div.pesquisa>div {
	width: 90%;
	margin: auto;
}

.pesquisa-opcoes>div>h2 {
	text-align: center;
	color: white;
	margin-top: 20px;
}

.casos-específicos>div.item {
	width: 680px;
	height: 105px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.row-recomendation {
	align-items: center;
	justify-content: center;
	padding-bottom: 3rem;
}

.row-recomendation-secondary {
	align-items: center;
	justify-content: center;
	padding-bottom: 3rem;
}

.row-recomendation-secondary>:first-child {
	text-align: center;
}

.row-recomendation-secondary>:first-child>span {
	font-size: 16px;
	font-weight: 300;
}

.row-recomendation-secondary>span {
	font-size: 16px;
	font-weight: 300;
}

.servicos-empresas {
	margin: auto;
	text-align: center;
	margin-top: 3rem;
}



.row-recomendation>:first-child {
	text-align: center;
}

.row-recomendation>:first-child>:first-child {
	font-size: 17px;
	font-weight: 300;
	color: black;
}

.row-recomendation>:first-child>:first-child>span {
	font-size: 17px;
	font-weight: bold;
	color: black;
}

.row-menu {
	flex-direction: row;
	align-items: center;
}

.row-menu-planos {
	justify-content: space-around;
	width: 1117px;
	height: 170px;
	background-color: #555555;
	border-radius: 3px;
	margin: auto;
	text-align: center;
	margin-bottom: 3rem;
	padding: 0;
	align-items: center;
}

.row-menu-planos>:nth-child(2)>div {
	width: 70% !important;
}

.item>div {
	width: 80%;
}

.item>div>a {
	display: flex;
	align-items: center;
	justify-content: center;

}

.item>div>a>span {
	font-size: 17px;
	width: 60%;
	text-align: left;
	margin-left: 2rem;

}

.img-box {
	padding-bottom: 1rem;
}

.planos-internet {
	border-right: 1px solid;
	border-style: dashed;
	border-top: none;
	border-left: none;
	border-bottom: none;
	height: 60%;
}

.planos-internet>div {
	width: 60%;
	margin: auto;
}

.planos-internet>div>a {
	color: white;
	font-size: 17px;
	font-weight: 300;
}

.row-menu-item {
	margin: auto;
	text-align: center;
	margin-bottom: 3rem;
}

.row-menu-item-secondary {
	margin: auto;
	text-align: center;
	margin-top: 3rem;
}

.row-menu-item-first {
	margin: auto;
	text-align: center;
	padding: 30px 0px 20px 5px;

}

.row-footer {
	width: 100%;
	align-items: center;
	background-color: #cd1515;
	color: white;
	margin: auto;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	padding: 2rem;
}

.row-footer>:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-footer>:nth-child(3) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-footer>:nth-child(4) {
	display: flex;
	justify-content: center;
	align-items: center;
}


.row-menu-item-dad {
	position: relative;
}

.row-menu-item-child {
	position: absolute;
	bottom: -25px;
	right: 10px;
	width: 62%;
	background-color: white;
	padding: 3rem 4rem;

}

.row-menu-item-child2 {
	position: absolute;
	top: 0;
}

.img-fibra-para-empresas {
	padding-right: 80px;
}

.row-fibra-para-empresas {
	margin-bottom: 90px;
}

a {
	text-decoration: none !important;
	color: #666;
}

.list-item:hover {
	color: #2ddb94 !important;
}

ul {
	padding: 0;
	list-style: none;
}



ul.menu {
	margin: 0;

	padding: 0;

}

ul.menu>li {
	display: inline-block;
	box-sizing: border-box;

	transition: 0.3s;
	vertical-align: middle;

}

ul.menu>li:hover {
	border-radius: 5px;
	cursor: pointer;
	color: #2ddb94;
}

.container-cabecalho {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.destaques {
	margin-bottom: 3rem !important;
}



/* MENU RESPONSIVO */
.navbar-offcanvas {
	display: none;
	padding: 0 !important;
}

button.navbar-toggle {
	display: none;
}

@media (max-width: 990px) {

	button.navbar-toggle {
		display: block;

		background: transparent;
		line-height: 0;
		border-radius: 5px;
		position: absolute;
		right: 15px;
		top: 5px;
		z-index: 9999;
		padding: 17px 8px 5px 8px;
	}

	button.navbar-toggle span {
		display: inline-block;
	}

	.navbar-offcanvas {
		display: block;
		background: white;
	}

	.navbar-offcanvas ul.menu {
		float: left;
		width: 100%;
	}

	.navbar-offcanvas ul.menu li {
		float: left;
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #efefef;
		padding: 0;

	}

	.navbar-offcanvas ul.menu li a {
		color: #4e4e4e;
		text-transform: initial;
		padding: 15px 20px 15px 20px;
		display: block;
	}

	.navbar-offcanvas ul.menu li a.promo-dia {
		display: block;
		float: initial;
		text-align: center;
		color: #033770;
		text-transform: uppercase;
	}

	.navbar-offcanvas ul.menu li:last-child {
		float: left;
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #efefef;
	}

	.navbar-offcanvas ul.menu li.pedidos {
		background: white;
		text-align: center;
	}

	.navbar-offcanvas ul.menu li.pedidos a {
		color: #cd1515;
		text-transform: uppercase;
	}

	.navbar-offcanvas ul.conta {
		float: left;
		width: 100%;
		text-align: center;
	}

	.navbar-offcanvas ul.conta li {
		display: inline-block;
		padding: 15px 10px;
	}

	.navbar-offcanvas ul.conta li a {
		color: #cd1515;
	}

	.offcanvas-toggle .icon-bar {
		background: #cd1515 !important;
		-webkit-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		display: block;
		width: 22px;
		height: 3px;
		border-radius: 1px;
		margin-bottom: 4px;
	}

	.offcanvas-toggle .middle {
		width: 16px;
	}
}

@media (max-width: 767px) {
	button.navbar-toggle {
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		top: 7.5%;
	}
}

ul.menu-responsivo {
	float: left;
	width: 100%;
	margin: 20px 0 20px 0;
	font-size: 18px;
}

ul.menu-responsivo>:last-child>a {
	border: none;
}

ul.menu-responsivo>li {
	display: block;
	margin-bottom: 2rem;
}

ul.menu-responsivo>li>a {
	color: #cd1515;
	padding: 5px 25px;
	display: block;
}

ul.menu-responsivo>li>ul>li>a {
	color: #ccc;
	padding: 5px 40px;
	display: block;
}

ul.menu-responsivo li a:hover {
	color: white;
}

ul.menu-responsivo ul.social {
	margin: 1rem 0 0 25px;
	padding: 0;
	border-radius: 0;
}

ul.menu-responsivo ul.social li {
	display: inline-block;
	margin: 0 5px 0 0;
}

/* MENU */

@media(max-width: 700px) {
	.d-none {
		display: none;
	}

	.d-none-menu {
		display: none !important;
	}

	.d-none-menu-option-responsive {
		display: block !important;
	}

	.d-none-h3-responsive {
		text-align: center;
	}

	.row-atendimento {
		padding-left: 0;
		justify-content: center;
	}

	.shadow-dreamy {
		margin-bottom: 2rem;
	}

	.menu-header-responsive {
		text-align: center;
		margin-bottom: 2rem;
	}

	.row-menu-item-child {
		position: relative;
		width: 100%;
		margin: auto;
		right: 0;
	}

	.li-select {
		padding: 2rem 0.8rem 0rem 0.8rem !important;

	}

	.warning>:first-child {
		position: absolute;
		left: 0;
		top: 8px;
	}

	.box-noticia {
		margin-right: 0;
	}

	.menu-header {
		margin: 0px 0px 10px 15px;
	}

	.row-footer>:nth-child(2) {
		display: flex;
		justify-content: left;
		align-items: center;
		padding-bottom: 1rem;
	}

	.row-footer>:nth-child(3) {
		display: flex;
		justify-content: left;
		align-items: center;
		padding-bottom: 1rem;
	}

	.row-footer>:nth-child(4) {
		display: flex;
		justify-content: left;
		align-items: center;
	}

	.menu-footer-institucional>:last-child>:first-child {
		padding-left: 0;
	}

	.img-banner {
		background-image: url("./img/banner.jpg");
		background-size: contain;
		height: 100%;
		width: 100% !important;
	}

	.title-slide>:nth-child(3) {
		font-size: 10px;
		font-weight: 400;
		color: white;
	}

	.container-empresas-banner {
		width: 53% !important;
	}

	.title-slide>:first-child {
		font-size: 15px !important;
		font-weight: 300;
		color: white;
	}

	.title-slide {
		z-index: 9999;
		position: absolute;
		left: 6.5%;
		top: 0%;
	}

	.localidade {
		margin-top: 90px;
		padding: 0px 0px 20px 0px;
		border-bottom: 1px solid #f5f5f5;
		border-width: thin;
	}

	.interna-3 {
		padding-top: 1rem;
	}

	.cidades>a>span {
		font-size: 30px;
		font-weight: 300;
		color: white;
	}

	.no-local>:first-child {
		width: 83%;
	}

	.cidades>a {
		margin-right: 3rem;
	}

	.row-menu-planos>:first-child {
		border-top: 1px solid !important;
		border-style: dashed !important;
		border-left: none !important;
		border-right: none !important;
		margin-top: 2rem;
	}



	.swiper-pagination {
		top: 80%
	}

	.casos-específicos>div.item {
		width: auto;
		height: 105px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid grey;
		border-radius: 5px;
		margin-bottom: 1rem;
	}

	.pesquisa-opcoes>div.pesquisa {
		padding-bottom: 3rem;
		background-color: #ae2317;
		border-radius: 10px;
		color: white;
		width: 370px;
		height: auto;
	}

	.planos-internet {
		border-bottom: 1px solid;
		border-style: dashed;
		border-top: none;
		border-left: none;
		margin-bottom: 2rem;
	}

	.planos-internet>div {
		width: 60%;
		margin: auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.row-menu-planos {
		justify-content: space-around;
		background-color: #555555;
		border-radius: 3px;
		margin: auto;
		text-align: center;
		margin-bottom: 3rem;
		padding: 0;
		align-items: center;
		width: unset;
		height: unset;
	}

	.interna-3>:first-child>div {
		background-color: #f5f5f5;
		display: flex;
		width: 550px;
		height: 210px;
		margin-top: 1rem;
	}

	.interna-3>:nth-child(2)>:first-child {
		padding-left: 0;
		text-align: center;
	}

	.interna-3>:nth-child(3) {
		padding: 0;
		margin: 0;
		justify-content: center;
	}

	.row-atendimento-3 {
		background-color: #efefef;
		display: flex;
		align-items: center;
		width: unset;
		height: unset;
		margin: auto;
	}

	.social-media {
		margin-top: 1rem;
		background-color: #efefef;
		height: 100px;
		margin: 0;
		padding: 0;
		margin-bottom: 2rem;
		position: unset;
	}

	.social-media-icons {
		text-align: center !important;
	}

	.social-media-row {
		margin: 0;
	}

	.atendimento-box {
		width: 190px;
		height: 190px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}

	.row-atendimento-3>:first-child>:nth-child(3) {
		margin: unset;
		margin-bottom: 1rem;
	}

	.row-atendimento-3>:first-child>:nth-child(2) {
		margin: unset;
		margin-bottom: 1rem;
	}

	.row-atendimento-3>:first-child>:first-child {
		margin: unset;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.row-atendimento-3>:first-child>:nth-child(4) {
		margin-right: unset;
		margin-bottom: 1rem;
	}

	.btn-pesquisa {
		background-color: #990e02;
		width: 130px !important;

		height: 35px;
		margin-right: 10px;
		vertical-align: middle !important;
		border-radius: 5px;
		border: none;
		padding: 6px;
		font-size: 17px;
	}






}

@media(max-width: 700px) {
	.responsive-top {
		margin-top: 2rem;
	}

	.responsive-bottom {
		margin-bottom: 3rem;
	}

	.oferta-main>.oferta-box {
		margin: auto;
		margin-top: 20px;

	}
}

/* MAIN */

.container {
	max-width: 1150px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


h1 {
	margin-top: 0;
}

.artigo {
	margin-bottom: 3rem !important;
}




/*FOOTER*/

.rodape {
	background-color: #cd1515 !important;
	border: none !important;
}