/* RESPONSIVE */

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.slide .swiper-slide .box{
		width: 90%;
	}
	.slide .swiper-slide .box span.title, span.secao{
		font-size: 2em;
	}
	.na-midia{
		margin: 1rem 0 1rem;
	}
	section.numeros .box{
		margin: 0 0 4rem;
	}

	section.projetos .box figure img{
		width: 100%;
	}

	section.projetos .box{
		margin: 0 0 3rem;
	}

	.box-blog img{
		width: 100%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}